release/
debug/
obj/
moc/
include/
lib/
.cproject
.project
Makefile*
moc_*
*~
*.so*
*.o
.directory
moc_*.cpp
Thumbs.db
object_script.*
*.pro.user*
qrc_resources.cpp
qrc_resources.cxx
resources.qrc.depends
localPaths.pri

#cmake
**CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
localConfig.cmake